* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
}

#controls {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.pixel {
  background-color: white;
  border: 1px solid black;
}

.pixel:hover {
  background-color: lightgray;
}

#paint-grid {
  margin-top: 20%;
  width: 480px;
  height: 480px;
  border: 1px solid black;
  display: flex;
}

.black {
  background-color: hsl(0, 0%, 0%);
}

#controls button {
  padding: 15px 45px;
}

.toggled {
  background-color: lightblue;
}
