* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pixel {
  background-color: white;
  border: 1px solid black;
}

.pixel:hover {
  background-color: lightgray;
}

#paint-grid {
  width: 480px;
  height: 480px;
  border: 1px solid black;
  display: flex;
}

.black {
  background-color: black;
}
